<app-navbar></app-navbar>

<p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

    Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
    
    Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

    <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

        Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
        
        Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

        <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

            Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
            
            Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
            <a name="tema1"></a>
            <p >¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                
                Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
            
                <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                    Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                    
                    Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

                    <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                        Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                        
                        Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
                    
                        <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                            Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                            
                            Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
    
                            <p>¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                
                                Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
                                
                                <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                    Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                    
                                    Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
                                    <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                        Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                        
                                        Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

                                        <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                            Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                            
                                            Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
        
                                            <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                                Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                                
                                                Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>
                                                <a name="tema2" ></a>
                                                <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                                    Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                                    
                                                    Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

                                                    <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                                        Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                                        
                                                        Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

                                                        <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

                                                            Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.
                                                            
                                                            Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!</p>

                                                            <p>xxxxxxxx¿Te interesa saber qué es un texto descriptivo y sus características? Si es así, presta atención, porque en esta lección de unPROFESOR nos vamos a centrar en este tipo de redacciones, pues es importante conocerlas, ya que su uso es bastante común.

Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.


En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".

Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.

<a name="tema3"></a>
En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".
Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.


En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".
Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.


En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".
Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.


En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".
Recuerda la importancia de saber qué es un texto descriptivo, ya que así puedes diferenciarlo de otro tipo de redacciones. Y es que también son muy comunes los textos narrativos, en los que se suelen relatar diversos sucesos y vivencias, o los textos argumentativos, donde se brindan razones para que el lector tome partido de uno u otro lado.

Pero aquí nos interesa el texto descriptivo, así que vamos a entrar en materia con la definición exacta del tipo de texto del que hablamos y qué lo caracteriza. ¡Comenzamos!

Para ello lo primero que tenemos que hacer es definir un ancla (queda más bonito en ingles... anchor). Este será un punto de una página al cual querremos crear, posteriormente, un enlace.
Para crear un ancla utilizaremos el elemento A de HTML y en especial su atributo name.


En nuestro ejemplo hemos definido un ancla al que le hemos llamado "tema1". Ya que la parte en la que está posicionado dentro del documento sería la relativa al "Tema 1".
<router-outlet></router-outlet>